
.QuestionPage .curvedlist .wmlist-item, .QuestionPage .inputPanel, .QuestionPage  .wmlabel {
    font-size: 10pt;
}

.QuestionPage-historyList.wmlist.MobileListStyle .wmlist-item {
    padding: 0px;   
}

.wm_default .MobileListStyle div.wmlist-item.QuestionRow, .wm_default .MobileListStyle div.wmlist-item.Odd.QuestionRow,
.wm_default .MobileListStyle div.wmlist-item.AnswerRow, .wm_default .MobileListStyle div.wmlist-item.Odd.AnswerRow {
    background: none !important;
    background-color: transparent !important;
    border-width: 0px !important;
    padding: 2px !important;
    margin: 0px !important;
}
.QuestionRow .Question {
    margin-right: 25% !important;    
    margin-left: 40px;
}
.AnswerRow .Answer {
    margin-left: 25% !important;
    margin-right: 40px;
}
.QuestionRow .Avatar {
    height: 40px;
    float: left;
}
.AnswerRow .Avatar {
    height: 40px;
    float: right;
}
.inputPanel.Disabled {
    opacity: 0.5;
}