html.WMApp body .AnswersMenu .wmlist-item {
  border: solid 1px black;
  text-align: center;
  
background: -webkit-gradient(linear, center top, center bottom, from(#aaaaaa), color-stop(18%,#555555), to(#555555));
background: -moz-linear-gradient(top, #aaaaaa 0%,#555555 18%,#555555 100%);
background: -o-linear-gradient(top, #aaaaaa 0%,#555555 18%,#555555 100%);
background: -ms-linear-gradient(top, #aaaaaa 0%,#555555 18%,#555555 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aaaaaa', endColorstr='#555555',GradientType=0);

}
